.img-con {
  margin-bottom: 10px;
}
.img-con h2 {
  margin: 0;
}
.status-sec > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.status-sec .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 130px;
}

.details-sec > h1 {
  text-align: center;
  margin-bottom: 20px;
}
.details-sec .container {
  padding: 0 25px;
}
.details-sec li {
  margin: 0 20px;
}

@media (max-width: 787px) {
  .status-sec .container {
    margin-bottom: 40px;
  }
}
